
body {
    background-color:#f4f4f4;
    margin:0;
}

#page-title {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}
#page-header {
    background-image: url(../img/page-header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 30px auto;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: darken;
}


/**カレンダー枠start */
#calendar {
    padding:30px;
}
.fc-view-container {
    background-color:#ffffff;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    font-size: 12px;
}
.fc-today-button {
    display:none !important;
}
.fc .fc-toolbar-title {
    font-size: 14px !important;
}


/**カレンダーのセルサイズ指定*/
.fc-basic-view .fc-body .fc-row {
   min-height: 37px !important;
   height: 37px !important;
}


.fc-toolbar.fc-header-toolbar h2{
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.fc .fc-toolbar > * > * {
    float: left;
    margin-left: .75em;
}
.fc-toolbar h2 {
    margin: 0;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/**カレンダー枠end */

/** 過去一週間start */
ul.date-slide-list {
    padding-left:20px;
    list-style:none;
    margin:0px;
    text-align:center;
}
ul.date-slide-list li{
    margin:10px 0;
}
ul.date-slide-list li a{
  text-decoration: none;
  color:#666666;
}
/** 過去一週間枠end */


/**blogスタイル*/
.blog-entry {
    display: grid;
    grid-template-columns:120px 150px 60%;
    justify-content: space-between;
    row-gap: 60px;
    margin:40px 20px 70px 0;
}
.blog-entry .thumbnail{
    margin-top: 7px;
}
.blog-entry .thumbnail img{
    width:90%;
    border-radius:10px;
    height: 100px;
    object-fit: cover;
}
.blog-entry .upper .date{
    color: #6e7070;
    font-size: 11px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.blog-entry .upper .author{
    margin-bottom:10px;
    color: #D2B48C;
}
.blog-entry .content .title{
    margin:7px 0 16px;
    border-bottom:1px solid #211a17;
    color:#211a17;
    display:inline-block;
    font-weight:bold;
    letter-spacing: 2px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:18px;
}
.blog-entry .content .body{
    margin-bottom:10px;
    color:#6e7070;
    font-size:12px;
    letter-spacing: 2px;
}


/**ページング*/
#pager {
    text-align:center;
    margin:60px 0;
}
#pager a{
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ccc;
    color: #666666;
}
#pager span.back{
    border: 1px solid #ccc;
}
#pager span{
    padding:10px;
    margin: 0 2px;
    color: #666666;
}
#pager .current{
    background-color:#666666;
    color:#ffffff;
}

footer {
    clear:both;
    text-align: center;
    padding: 40px;
    border-top: 1px solid #ccc;
    margin-top: 40px;
    color: #666666;
    font-size: 88%;
}


/*
 タブレット
 */
@media screen and (max-width:850px){
/**blogスタイル*/
.blog-entry {
    display: grid;
    grid-template-columns: 27% 70%;
    justify-content: space-between;
    row-gap: 60px;
    margin: 00px 10px 40px 0;
}
}

/*
850px以上
 タブレット
 */
@media screen and (min-width:851px){
/**blogスタイル*/
.blog-entry {
    display: grid;
    grid-template-columns: 22% 75%;
    justify-content: space-between;
    row-gap: 60px;
    margin:0 10px 40px 0;
}
}

/*
1100px以下
 タブレット
 */
@media screen and (max-width:1100px){
#main-block {
    width:90%;
    margin:0 auto;
}

}
/*
 1100px以上
 PC
 */
@media screen and (min-width:1101px){
#main-block {
    width:1100px;
    margin:0 auto;
}

.main-column {
    float: left;
    width:800px;
}
.side-column {
    float: right;
    width:300px;
}

}

/*
 480px以上
 SP
 */
@media screen and (min-width:481px){

  #page-header img {
      width: 32%;
      margin: 0 auto;
      display: block;
  }

  #page-header {
    height: 380px;
  }

  #page-title {
    font-size: 35px;
    margin:50px 0;
  }

}

/*
 480px以下
 SP
 */
@media screen and (max-width:480px){
  #page-header {
    height: 270px;
  }

  #page-header img {
      width: 70%;
      margin: 0 auto;
      display: block;
  }

  #page-title {
    font-size: 22px;
    margin:47px 0 0;
  }
  .blog-entry {
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: space-between;
    row-gap: 60px;
    margin:40px 0 40px 0;
  }

}
